<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fuhuo/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,274},{137,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,230}</string>
			</dict>
			<key>fuhuo/blue_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,592},{125,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,70}</string>
			</dict>
			<key>fuhuo/blue_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,906},{125,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,71}</string>
			</dict>
			<key>fuhuo/blue_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,396},{99,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,118}</string>
			</dict>
			<key>fuhuo/blue_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,139},{43,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,131}</string>
			</dict>
			<key>fuhuo/blue_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,518},{99,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,118}</string>
			</dict>
			<key>fuhuo/blue_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,274},{125,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,71}</string>
			</dict>
			<key>fuhuo/blue_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,518},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fuhuo/blue_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,274},{100,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,118}</string>
			</dict>
			<key>fuhuo/blue_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,2},{43,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,133}</string>
			</dict>
			<key>fuhuo/blue_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,396},{99,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,118}</string>
			</dict>
			<key>fuhuo/coin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,640},{80,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,73}</string>
			</dict>
			<key>fuhuo/continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,906},{277,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,58}</string>
			</dict>
			<key>fuhuo/continue_.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,853},{607,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{607,97}</string>
			</dict>
			<key>fuhuo/continue_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,561},{765,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{765,142}</string>
			</dict>
			<key>fuhuo/continue_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,707},{765,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{765,142}</string>
			</dict>
			<key>fuhuo/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,954},{346,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,7}</string>
			</dict>
			<key>fuhuo/shadow_cir.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{556,555}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{556,555}</string>
			</dict>
			<key>fuhuo/tap_to_ski.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,853},{338,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,49}</string>
			</dict>
			<key>fuhuo/vedio.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,349},{88,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,92}</string>
			</dict>
			<key>fuhuo/x200.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,954},{171,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fuhuo.png</string>
			<key>realTextureFileName</key>
			<string>fuhuo.png</string>
			<key>size</key>
			<string>{1021,1014}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>1014</integer>
		</dict>
	</dict>
</plist>