<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>quit/are_you_su.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,722},{407,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{407,49}</string>
			</dict>
			<key>quit/bg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{968,580}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{968,580}</string>
			</dict>
			<key>quit/no.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,580},{74,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,58}</string>
			</dict>
			<key>quit/no_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,580},{382,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,142}</string>
			</dict>
			<key>quit/quit.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,580},{178,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,81}</string>
			</dict>
			<key>quit/yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,661},{115,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,58}</string>
			</dict>
			<key>quit/yes_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,580},{382,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,142}</string>
			</dict>
			<key>quit/your_want_.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,722},{597,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>quit.png</string>
			<key>realTextureFileName</key>
			<string>quit.png</string>
			<key>size</key>
			<string>{1016,776}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1016</integer>
			<key>height</key>
			<integer>776</integer>
		</dict>
	</dict>
</plist>